<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to  "Igor Renan", "https://github.com/Igorenansc/alpha-blog", class: "text-white text-decoration-none" %></small>
  </div>
</footer>